@page "/login"
@using FinalProject.Components.Globals

<div class="login have-shadow">
    <div style="display: flex">
        <button class="have-shadow swap-btn @(State == LoginState.Login ? "selected" : "unselected")" 
                onclick="@( () => { SetState(LoginState.Login); } )">
            Login
        </button>
        
        <button class="have-shadow swap-btn @(State == LoginState.Signup ? "selected" : "unselected")"
                onclick="@( () => { SetState(LoginState.Signup); } )">
            Sign Up
        </button>
    </div>
    
    @switch (State)
    {
        case LoginState.Login:
            <IconInput @ref="liUsername" Icon="person" Placeholder="Username"/>
            <IconInput @ref="liPassword" Icon="key" Type="password" Placeholder="Password"/>
            break;
            
        case LoginState.Signup:
            <IconInput @ref="suEmail" Icon="mail" Placeholder="Email" />
            <IconInput @ref="suUsername" Icon="person" Placeholder="Username"/>
            <IconInput @ref="suPassword" Type="password" Icon="key" Placeholder="Password"/>
            <IconInput @ref="suConfirmPassword" Type="password" Icon="lock" Placeholder="Confirm Password"/>
            break;
            
        default:
            throw new ArgumentOutOfRangeException();
    }

    <button class="have-shadow submit-btn" style="align-self: center" onclick="@(async () => await SubmitPressed())">
        Submit
    </button>
    
</div>


@code {

    private enum LoginState
    {
        Login,
        Signup
    }

    [Parameter] public Func<SignUpPayload, Task>? SignUpCallback { get; set; }

    [Parameter] public Func<LoginPayload, Task>? LoginCallback { get; set; }

    private LoginState State { get; set; } = LoginState.Login;

    IconInput liUsername, liPassword;
    IconInput suEmail, suUsername, suPassword, suConfirmPassword;

    public record SignUpPayload(string Email, string Username, string Password);

    public record LoginPayload(string Username, string Password);

    private void SetState(LoginState state)
    {
        State = state;
        StateHasChanged();
    }

    private async Task SubmitPressed()
    {
        switch (State)
        {
            case LoginState.Login:
                LoginPayload login = new(liUsername.Value, liPassword.Value);
                await (LoginCallback?.Invoke(login) ?? Task.CompletedTask);

                break;
            case LoginState.Signup:
                if (suPassword.Value != suConfirmPassword.Value) return;

                SignUpPayload signup = new(suEmail.Value, suUsername.Value, suPassword.Value);
                await (SignUpCallback?.Invoke(signup) ?? Task.CompletedTask);

                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    }
}